AlpeniteTeaInvioFattura/src/main/java/com/alpenite/tea/wdslfascicolo/QTA_ZPTGETFASCICOLO_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_BN_BNDZPTGETFASCICOLO">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"/>
    <saptrnbnd:OptimizedXMLTransfer uri="http://www.w3.org/2004/08/soap/features/http-optimization" wsp:Optional="true" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZPT_GET_FASCICOLO">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration wsp:Optional="true" xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZptGetFascicolo">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char27">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="27"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZptStFascicolo">
        <xsd:sequence>
          <xsd:element name="SezioneIt" type="n0:char100"/>
          <xsd:element name="SezioneEn" type="n0:char100"/>
          <xsd:element name="DefinizIt" type="n0:char100"/>
          <xsd:element name="DefinizEn" type="n0:char100"/>
          <xsd:element name="Estensione" type="n0:char27"/>
          <xsd:element name="Data" type="n0:date10"/>
          <xsd:element name="SapObject" type="n0:char10"/>
          <xsd:element name="ArcDocId" type="n0:char40"/>
          <xsd:element name="Tech1" type="n0:char100"/>
          <xsd:element name="Tech2" type="n0:char100"/>
          <xsd:element name="Tech3" type="n0:char100"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZptGetFascicolo.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZptGetFascicolo.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZptTyFascicolo">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZptStFascicolo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZptGetFascicolo.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ErroreContratti"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZptGetFascicolo.Exception" type="tns:ZptGetFascicolo.RfcException"/>
      <xsd:element name="ZptGetFascicolo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ICc" type="n0:char12"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZptGetFascicoloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TFascicolo" type="tns:ZptTyFascicolo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZptGetFascicolo">
    <wsdl:part name="parameters" element="tns:ZptGetFascicolo"/>
  </wsdl:message>
  <wsdl:message name="ZptGetFascicoloResponse">
    <wsdl:part name="parameter" element="tns:ZptGetFascicoloResponse"/>
  </wsdl:message>
  <wsdl:message name="ZptGetFascicolo.Exception">
    <wsdl:part name="ZptGetFascicolo.Exception" element="tns:ZptGetFascicolo.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZPT_GET_FASCICOLO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZPT_GET_FASCICOLO"/>
    </wsp:Policy>
    <wsdl:operation name="ZptGetFascicolo">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZptGetFascicolo"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZptGetFascicolo"/>
      <wsdl:output message="tns:ZptGetFascicoloResponse"/>
      <wsdl:fault name="ZptGetFascicolo.Exception" message="tns:ZptGetFascicolo.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BNDZPTGETFASCICOLO" type="tns:ZPT_GET_FASCICOLO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_BNDZPTGETFASCICOLO"/>
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZptGetFascicolo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZptGetFascicolo.Exception">
        <soap:fault name="ZptGetFascicolo.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SVCZPTGETFASCICOLO">
    <wsdl:port name="BNDZPTGETFASCICOLO" binding="tns:BNDZPTGETFASCICOLO">
      <soap:address location="http://d-q-isu-as.teaspa.lan:8020/sap/bc/srt/rfc/sap/zpt_get_fascicolo/900/svczptgetfascicolo/bndzptgetfascicolo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>